[Unit]
Description=Web bluetooth GATT server
After=network.target

[Service]
User=pi
Restart=always
ExecStart=/usr/bin/python3 -m webbluetooth
Environment=PYTHONUNBUFFERED=true

[Install]
WantedBy=multi-user.target
